@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'poppins',sans-serif;
}
header{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #999; */
}
header .logo
{
    width: 200px;
    height: 50px;
    /* border: 1px solid #000; */
}
header .logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
header .headerBtn button
{
    padding: 5px 20px;
    border: 3px solid #d70f64;
    background-color: #fff;
    color: #d70f60;
    font-weight: 500;
    transition-duration: 0.4s;
    cursor: pointer;
}
header .headerBtn button:nth-child(1):hover{
    background-color: #d70f60;
    color: #fff;
}
header .headerBtn button:nth-child(2){
    background-color: #d70f60;
    color: #fff;
}
header .headerBtn button:nth-child(2):hover{
    background-color: #fff;
    color: #d70f60;
}
.banner{
    width: 100%;
    height: 500px;
    background: url("../hero-home-pk.png");
    background-size: 55%;
    background-position: 155%;
    background-repeat: no-repeat;
}
.banner h2{
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 2em;
    color: #333;
    font-weight: 400;

}
.banner .searchRestaurant {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 55%;     
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 15%);
    
}
.banner .searchRestaurant .textBox{
    padding: 15px 25px;
    width: 50%;
    border: 1px solid rgba(153, 153, 153, 0.5);
    outline: none;
}
.banner .searchRestaurant .textBox:focus{
    border: 1px solid #d70f64;
}
.banner .searchRestaurant .textBox::placeholder{
    font-size: 1.1em;
    color: rgb(185, 185, 185);
    font-weight: 200;
}
.banner .searchRestaurant .bannerBtn button{
    background-color: #d70f64;
    padding: 16px 30px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
}
.banner .searchRestaurant .bannerBtn span{
    font-weight: 300;
    color: #999;
}
.aboutTitle{
    width: 50%;
    text-align: center;
    margin-top: 100px;
}
.aboutTitle::before{
    content: "Partner";
    position: absolute;
    top: 570px;
    left: 30px;
    font-size: 10em;
    color: rgb(153, 153, 153, 0.3);
    font-weight: 700;
    z-index: -1000;
}
.aboutTitle h2{
    font-weight: 200;
    font-size: 1.8em;
    z-index: 1000;
}
.about{
    width: 100%;
    height: 50vh;
    background: url("../pictures/home/home-vendor-pk.webp");
    background-size: cover;
    background-position: center;
    position: relative;
}
.about .aboutContent{
    width: 40%;
    background-color: #fff;
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 10%;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 20%);
}
.about .aboutContent h2{
    font-weight: 400;
    font-size: 1.5em;
}
.about .aboutContent p{
    font-size: 14px;
    margin-top: 15px;
    color: #555;
    font-weight: 300;
}
.about .aboutContent .aboutBtn{
    padding: 5px 40px;
    border: none;
    background-color: #d70f64;
    color: #fff;
    float: right;
    margin-top: 20px;
}
.cityTitle{
    width: 50%;
    text-align: center;
    margin-top: 270px;
}
.cityTitle::before{
    content: "Cities";
    position: absolute;
    top: 1200px;
    left: 40px;
    font-size: 10em;
    color: rgb(153, 153, 153, 0.3);
    font-weight: 700;
    z-index: -1000;
    background-size: cover;
}
.cityTitle h2{
    /* top: -100%; */
    font-weight: 200;
    font-size: 1.8em;
    z-index: 1000;
}
.city{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.city .cityContent{
    width: 80%;
    left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    left: -10%;
    top: 10%;}
.city .cityContent .cityCard{
    width: 220px;
    height: 250px;
    padding: 8px;
    /* border: 1px solid #000; */
    background: url("../pictures/city/Karachi.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
}
.city .cityContent .cityCard:nth-child(2){
    background: url("../pictures/city/Lahore.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(3){
    background: url("../pictures/city/Islamabad.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(4){
    background: url("../pictures/city/Rawalpindi.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(5){
    background: url("../pictures/city/Faisalabad.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(6){
    background: url("../pictures/city/Multan.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(7){
    background: url("../pictures/city/Hyderabad.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(8){
    background: url("../pictures/city/Sialkot.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(9){
    background: url("../pictures/city/Peshawar.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(10){
    background: url("../pictures/city/Sukkur.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(11){
    background: url("../pictures/city/city-tile-Murree.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(12){
    background: url("../pictures/city/city-tile-Mangla.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(13){
    background: url("../pictures/city/city-tile-PanoAqil.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(14){
    background: url("../pictures/city/city-tile-Bahawalpur.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(15){
    background: url("../pictures/city/city-tile-Sadiqabad.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(16){
    background: url("../pictures/city/city-tile-Larkana.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(17){
    background: url("../pictures/city/city-tile-Sahiwal.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(18){
    background: url("../pictures/city/city-tile-WahhCannt.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(19){
    background: url("../pictures/city/city-tile-Abottabad.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(20){
    background: url("../pictures/city/city-tile-RahimYarKhan.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(21){
    background: url("../pictures/city/city-tile-DeraGhaziKhan.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(22){
    background: url("../pictures/city/city-tile-Sargodha.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(23){
    background: url("../pictures/city/city-tile-Gujranwala.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(24){
    background: url("../pictures/city/city-tile-Quetta.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(25){
    background: url("../pictures/city/city-tile-Okara.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(26){
    background: url("../pictures/city/city-tile-Jhelum.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(27){
    background: url("../pictures/city/city-tile-Mardan.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(28){
    background: url("../pictures/city/city-tile-Kamoke.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(29){
    background: url("../pictures/city/city-tile-Gujrat.jpg.webp");
    background-size: cover;
    background-position: center;
}
.city .cityContent .cityCard:nth-child(30){
    background: url("../pictures/city/city-tile-Sheikhupura.jpg.webp");
    background-size: cover;
    background-position: center;
}
/* .city .cityContent .cityCard:nth-child(31){
    background: url("../pictures/city/Lahore.webp");
    background-size: cover;
    background-position: center;
} */
.city .cityContent .cityCard h2{
    color: #fff;
    font-size: 1.7em;
    font-weight: 600;
}
.city .cityContent .cityCard .alphabet{
    position: absolute;
    top: -6%;
    left: -18px;
    font-size: 15em;
    color: #d70f64;
    font-weight: 500;
    z-index: 999;
    opacity: 0;
    transition-duration: 0.3s;
}
.city .cityContent .cityCard:hover .alphabet{
    opacity: 0.5;
}
.appTitle{
    width: 60%;
    text-align: center;
    margin-top: 200px;
    position: relative;
}
.appTitle::before{
    content: "Apps";
    position: absolute;
    top: -150px;
    left: 30px;
    font-size: 12em;
    color: rgb(153, 153, 153, 0.3);
    font-weight: 700;
    z-index: -1000;
    /* background-size: cover; */
}
.app h2{
    /* top: %; */
    /* font-weight: 200; */
    font-size: 1.8em;
    z-index: 1000;
}
.app{
    width: 100%;
    height: 50vh;
    background-color: #d70f64;
    position: relative;
}
.app .appContent{
    position: absolute;
    top: 10%;
    left: 6%;
    width: 45%;
    /* border: 1px solid #fff; */
    padding: 10px;
}
.app .appContent h2{
    color: #fff;
    font-weight: 400;
    font-size: 1.6em;
    /* top: 120%; */
}
.app .appContent p{
    color: rgb(223, 223, 223);
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
}
.app .appBtn{
    width: 30%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 6%;
}
.app .appBtn .appStore{
    width: 110px;
    padding: 5px 8px;
    background-color: #000;
    border: 1px solid #999;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.app .appBtn .appStore .imgBx{
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
}
.app .appBtn .appStore .imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.app .appBtn .appStore h2{
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
}
.app .appBtn .appStore h2 span{
    font-size: 6px;
}
.app .cellPhones{
    width: 700px;
    height: 120%;
    /* border: 1px solid #000; */
    position: absolute;
    top: -50px;
    right: 0;
}
.app .cellPhones img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.businessTitle{
    width: 50%;
    text-align: center;
    margin-top: 200px;
    position: relative;
}
.businessTitle::before{
    content: "Office";
    position: absolute;
    top: -150px;
    left: 30px;
    font-size: 12em;
    color: rgb(153, 153, 153, 0.3);
    font-weight: 700;
    z-index: -1000;
    /* background-size: cover; */
}
.businessTitle h2{
    /* top: %; */
    font-weight: 200;
    font-size: 1.8em;
    z-index: 1000;
}
.business{
    width: 100%;
    height: 80vh;
    background-image: url("../pictures/home/home-corporate-pk.webp");
    background-size: cover;
    background-position: center;
    position: relative;
}
.business .businessContent{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 40%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 20%);
}
.business .businessContent h2{
    font-size: 1.4em;
    font-weight: 300;
}
.business .businessContent p{
    font-size: 14px;
    font-weight: 300;
    color: #777;
    margin-top: 15px;
}
.business .businessContent .businessBtn{
    padding: 5px 20px;
    background-color: #d70f64;
    color: #fff;
    border: none;
    margin-top: 20px;
    float: right;
}
footer{
    width: 100%;
    margin-top: 100px;
    padding: 20px 50px;
}
footer .aboutFoodpanda h2{
    font-size: 1.7em;
    font-weight: 500;
}
footer .aboutFoodpanda p{
    font-size: 14px;
    font-weight: 300;
    color: #555;
    margin-top: 20px;
}
footer .whatsnew{
    margin-top: 40px;
    padding-bottom: 20px;
}
footer .whatsnew h2{
    font-size: 2.1em;
    font-weight: 700;
}
footer .whatsnew p{
    margin-top: 10px;
    color: #555;
}
footer .whatsnew p span{
    color: #d70f64;
    font-weight: 400;
    font-size: 1.1em;
}
footer .faq{
    margin-top: 25px;
    margin-bottom: 20px;
}
footer .faq h2{
    font-size: 2em;
    font-weight: 700;
}
footer .faq h3{
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 20px;
    color: #444;
}
footer .footerLogo{
    padding-bottom: 20px;
}
footer .footerLogo .imgBx{
    width: 300px;
    height: 100px;
    /* border: 1px solid #000; */
}
footer .footerLogo .imgBx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}
footer .copyright {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
footer .copyright h2{
    font-size: 1.1em;
    color: #666;
    font-weight: 400;
}